<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Ruslan/IdeaProjects/QaAutoPendrak">
        <classes>
            <class name="tests.MainTest">
                <methods>
                    <include name="checkFind"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>